a{
    text-decoration: none !important;
}
.slid {
    background-image: url(../images/ecommerce-mcommerce-featured-image-5fd09a3a5ff2a-1-1.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {

    max-height: 600px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.card-img-top {
    max-width: 100px !important;
    margin: auto;
    padding: 5px;
    object-fit: cover;
}

.card-text {
    height: 150px !important;
    overflow: hidden;
}

/*Loder Style*/
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
}

.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-top: 2px solid #8900FF;
    border-right: 2px solid transparent;
    animation: spinner8217 0.8s linear infinite;
}

@keyframes spinner8217 {
    to {
        transform: rotate(360deg);
    }
}

span.notic {
    position: absolute;
    text-align: center;
    top: -9px;
    left: 38px;
    background-color: var(--bs-red);
    padding: 5px 4px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 13px;
    line-height: 0.6;
    color: white;
}

.category-box {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #dc3545; */
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    text-transform: capitalize;
}
.cat-app :nth-child(1) .category-box{
    background-color: #8900FF;
}
.cat-app :nth-child(2) .category-box{
    background-color: #dc3545;
}
.cat-app :nth-child(3) .category-box {
    background-color: yellowgreen;
}
.cat-app :nth-child(4) .category-box{
    background-color: violet;
}